@import url("https://fonts.googleapis.com/css?family=Overpass");

* {
  box-sizing: border-box;
}

body {
  font-family: Overpass, sans-serif;
  margin: 1rem;
  background-color: rgb(34, 47, 62);
}

h2 {
  margin: 0;
}